<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title="" />
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card
    createdAt="22/04/2023 16:04:15"
    updatedAt="22/04/2023 16:04:15"
    status="On Hold"
    notes="We have two bags that are full, one is plastic and the other
            one is glass"
  ></app-pickup-call-card>
  <app-pickup-call-card
    createdAt="22/04/2023 16:04:15"
    updatedAt="22/04/2023 16:04:15"
    status="Processing"
    notes="We have two bags that are full"
  ></app-pickup-call-card>
  <app-pickup-call-card
    createdAt="22/04/2023 16:04:15"
    updatedAt="23/04/2023 16:04:15"
    status="Finished"
    notes="one is plastic and the other one is glass"
    trophyAmmount="15.05"
  ></app-pickup-call-card>
</ion-content>
