<ion-card>
  <ng-content select="[header]"></ng-content>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon
        *ngIf="status == 'On Hold'"
        name="hourglass-outline"
        slot="start"
        color="warning"
      ></ion-icon>
      <ion-icon
        *ngIf="status == 'Processing'"
        name="archive-outline"
        slot="start"
        color="secondery"
      ></ion-icon>
      <ion-icon
        *ngIf="status == 'Finished'"
        name="checkmark-circle-outline"
        slot="start"
        color="success"
      ></ion-icon>
      <ion-label>
        {{ status }}
        <p>{{ updatedAt }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>Created at {{ createdAt }}</p>
        <p *ngIf="notes">Notes: {{ notes }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" *ngIf="status == 'Finished'">
      <ion-icon name="trophy" slot="start" color="warning"></ion-icon>
      <ion-label>$ {{ trophyAmmount }}</ion-label>
    </ion-item>
    <ng-content select="[footer]"></ng-content>
  </ion-card-content>
</ion-card>
