<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header
      >What do you want with the recyclable waste?</ion-card-header
    >
    <ion-card-content>
      <ion-list>
        <ion-radio-group value="">
          <ion-item>
            <ion-radio value="client" label-placement="end"
              >I want to BUY it.</ion-radio
            >
          </ion-item>
          <ion-item>
            <ion-radio value="partner" label-placement="end"
              >I want to SELL it.</ion-radio
            >
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Contact</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input
          type="text"
          label="Name"
          labelPlacement="floating"
          placeholder="Enter name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="email"
          label="Email"
          labelPlacement="floating"
          placeholder="email@domain.com"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Password"
          type="password"
          labelPlacement="floating"
          placeholder="Enter password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Confirm Password"
          type="password"
          labelPlacement="floating"
          placeholder="Confirm password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="tel"
          label="Phone Number"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header> Address Information </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input
          type="text"
          label="Address"
          labelPlacement="floating"
          placeholder="Enter address"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="tel"
          label="Number"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="Neighborhood"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="Complement"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="tel"
          label="Zip Code"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          label="City"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button size="full" color="light">Register</ion-button>
</ion-content>
