<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="https://assets.website-files.com/5e832e12eb7ca02ee9064d42/5f7db426b676b95755fb2844_Group%20805.jpg"
  />
  <ion-card>
    <ion-card>
      <ion-card-content>
        <p>Address: Fake State</p>
        <p>Complement: Fake complement</p>
        <p>Neighborhood: Fake Neighborhood</p>
        <p>Zip Code: Fake Zip</p>
        <p>City Name: Fake city name</p>
      </ion-card-content>
    </ion-card>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="savePickupCall()"
    >Create Pickup Call</ion-button
  >
</ion-content>
